doctype html
html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title CSS Vertical Rhythm
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    link(rel="stylesheet" href="main.css")
    link(
      rel="stylesheet",
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css",
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz",
      crossorigin="anonymous",
      )
  body
    -
      // stolen from https://stackoverflow.com/a/4708900/430773
      const subjects = ['I','You','Bob','John','Sue','Kate','The lizard people'];
      const verbs = [' will search for','will get','will find','attained','found','will start interacting with','will accept','accepted'];
      const objects = ['Billy','an apple','a Triforce','the treasure','a sheet of paper'];
      const endings = ['.',', right?','.',', like I said.','.',', just like your momma!'];

      for(x=0;x<Math.round(Math.random()*10);x++){
        const _JuNk=Math.random();
      }

      const randomText = (noOfSentences = 1) => Array.apply(null, Array(noOfSentences)).map((val, idx) => (`${subjects[Math.round(Math.random()*(subjects.length-1))]} ${verbs[Math.round(Math.random()*(verbs.length-1))]} ${objects[Math.round(Math.random()*(objects.length-1))]}${endings[Math.round(Math.random()*(endings.length-1))]}`)).join(' ')
    input#switch.switch(
      name='grid-control',
      checked='',
      type='checkbox'
    )
    label(for='switch') Toggle
    article
      h1=`${randomText()}`
      h2=`${randomText()}`
      p=`${randomText(5)}`
      figure.quote
        blockquote.quote__body
          | It is the unofficial force—the Baker Street irregulars.
        figcaption.quote__credits
          | Sherlock Holmes,
          cite Sign of Four
      p=`${randomText(5)}`
      h2=`${randomText()}`
      section.grid
        div(class='grid__item width-5/12')
          p=`${randomText(7)}`
        div(class='grid__item width-7/12')
          p.small: em=`${randomText(7)}`
          p.small: em=`${randomText(7)}`
      p=`${randomText(5)}`
      h3=`${randomText()}`
      p=`${randomText(5)}`
      figure.break-out(
        href="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/8b1824c3-4898-4a36-a9a5-9badf7d4b08a/1-default-large-opt.png")
        img(src="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/8393f075-cfd9-4d3f-8153-19f2105ebc69/1-default-800w-opt.png" width="800" height="444" alt="Admin overview screen for custom post types")
      h3=`${randomText()}`
      ul
        li
          p=`${randomText(7)}`
        li
          p=`${randomText(7)}`
      h4=`${randomText()}`
      p=`${randomText(17)}`
      p=`${randomText(6)}`
      h4=`${randomText()}`
      p=`${randomText(10)}`
      p=`${randomText(7)}`
      p=`${randomText(5)}`
      p=`${randomText(10)}`
