doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Event schedule utility function
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/jasmine.css')
  body
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/jasmine.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/jasmine-html.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/boot.js')
    script(
      type="module",
      src='./index.js',
      )
