@import '../../../css-only-card-flip/src/styles/_variables';
@import '../../../css-only-card-flip/src/styles/_reset';
@import '../../../css-only-card-flip/src/styles/_buttons';
@import '../../../css-only-card-flip/src/styles/_typography';
@import '../../../css-only-card-flip/src/styles/_effects';
@import '../../../css-only-card-flip/src/styles/_toggles';
@import '../../../css-only-card-flip/src/styles/_scrollbars';

:root {
  --body-width: 60rem;
  --scrollbar-color: var(--color-primary);
}

body {
  font-family: var(--font-system);
  max-width: var(--body-width);
  margin: 0 auto;
  min-height: 100vh;
  color: var(--color-foreground);
  padding: var(--g);
}

*, *::after {
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: row;
  &--wrap {
	flex-wrap: wrap;
  }
  &--column {
	flex-direction: column;
  }
  &--align-end {
    flex-direction: row-reverse;
  }
  &--stretch {
	justify-content: stretch;
	> * {
	  flex: 1;
	}
  }
}

.btn-row * {
  line-height: 2rem;
  margin-bottom: var(--g);
  label {
    margin-left: var(--g);
  }
}

.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: .5rem;
  align-items: stretch;

  img {
	box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
	max-width: 100%;
	object-fit: cover;
	background-color: silver;
  }
}

.controls {
  margin: -.5rem;
  margin-bottom: 1rem;
  > .controls__button {
	margin: .5rem;
    padding: var(--g);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  > * {
	display: flex;
  }
}

.grid li {
  animation-name: fade-in-up;
  animation-fill-mode: both;
  animation-duration: .5s;
  background-color: silver;
}

$animationDelay: 1;
@for $i from 1 through 10 {
  ul.grid li:nth-of-type(#{$i}) {
	animation-delay: #{0.3+($i)/30}s;
  }
}

@keyframes fade-in-up {
  0% {
	opacity: 0;
	transform: translate3d(0, 5%, 0);
  }
  100% {
	opacity: 1;
  transform: translate3d(0, 0, 0); }
}

.loading-spinner {
  width: 100%;
  text-align: center;
  &:before {
	content: '';
	width: var(--g-x2);
	height: var(--g-x2);
	border: 0.25rem solid transparent;
	border-color: #eee;
	border-top-color: var(--color-info);
	border-radius: 50%;
	animation: spin 1s linear infinite;
	display: inline-block;
  }
}

@keyframes spin {
  100% {
	transform: rotate(360deg)
  }
}

:root{
  --img-dog: url(//www.shareicon.net/download/2015/10/18/658257_dog.svg);
  --img-giraffe: url(//www.shareicon.net/download/2016/11/28/857799_zoo.svg);
  --img-cow: url(//www.shareicon.net/download/2016/11/28/857794_animal.svg);
}

*[data-animal] {
  background-size: 50px 50px;
  background-repeat: no-repeat;
  &[data-animal='giraffe'] {
	background-image: var(--img-giraffe);
  }
  &[data-animal='dog'] {
	background-image: var(--img-dog);
  }
  &[data-animal='cow'] {
	background-image: var(--img-cow);
  }
}


// Ignore what's below
// just wanted to see the payload on screen
pre {
  &:empty{
    display: none;
  }
  line-height: var(--g);
  font-size: var(--g);
  max-width: 100%;

  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */

  max-height: 40rem;
  overflow: auto;

  display: block;
  grid-area: 2/1/2/6;

  outline: 0; 
  padding: var(--g);
  margin: var(--g-x2) 0;
  background: var(--btn-background-light);
  .string { color: green; }
  .number { color: darkorange; }
  .boolean { color: blue; }
  .null { color: magenta; }
  .key { color: red; }
}
