doctype html
html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title CSS-only card flip
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    link(rel="stylesheet" href="main.css")
    link(
      rel="stylesheet",
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css",
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz",
      crossorigin="anonymous",
      )
  body
    label Toggle grid
    input(
      type='checkbox'
      id='toggle-grid'
    ).switch.show-grid
    label(
      for='toggle-grid'
      data-label-text='Show grid',
      style=`
        --switch-height: 2rem;
        --switch-width: 4rem;

          /* Inline styles? Well, more like variables.
          // I won't push this too far.. But sending in styles cuz calc(attr() * 1) doesn't work in 2018
          // But pretty cool :) almost like style-components */
      `
    )
    main
      include sections/_card
