.scene {
  perspective: var(--body-width);
  input[name='flip-card'] {
    &:checked + .card {
      transform: translate3d(-100%, 0, 0) rotateY(-180deg);
    }
  }
}

.card {
  --box-shadow-size: var(--g-half) !important;
  --image-height: var(--g-x20);
  --image-width: var(--g-x20);
  box-shadow: var(--box-shadow);
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;

  &__image{
    // margin: var(--g-neg);
    max-height: var(--image-height);
    display: flex;
    background: var(--btn-background);
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-height: 100%;
    }
  }
  &__face {
    display: grid;
    background-color: var(--color-background);
    backface-visibility: hidden;
    @include desktop {
      &--image {
        grid-template-columns: var(--image-width) auto;
        grid-auto-rows: 1fr;
      }
      .card__image {
        max-height: 100%;
      }
    }
    &--front {
      z-index: 2;
    }
    &--back {
      transform: rotateY(180deg);
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      display: flex;
      z-index: 3;
    }
  }
  &__content {
    padding: var(--g);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: var(--g);
    header :last-child {
      margin-bottom: 0;
    }
    main.scrollable {
      max-height: 100%;
      overflow: auto;
    }
  }

}

