/// https://css-tricks.com/snippets/sass/custom-scrollbars-mixin/
/// Mixin to customize scrollbars
/// Beware, this does not work in all browsers
/// @author Hugo Giraudel
/// @param {Length} $size - Horizontal scrollbar's height and vertical scrollbar's width
/// @param {Color} $foreground-color - Scrollbar's color
/// @param {Color} $background-color [mix($foreground-color, white, 50%)] - Scrollbar's color
/// @example scss - Scrollbar styling
///   @include scrollbars(.5em, slategray);
.scrollable{
  // For Google Chrome
  &::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border: var(--g-0x1) solid var(--color-background);
    margin-bottom: 50%;
  }

  &::-webkit-scrollbar-track {
    background: var(--scrollbar-color);
    border: var(--g-0x25) solid var(--color-background);
  }
}


// For Internet Explorer
body {
  scrollbar-face-color: var(--scrollbar-foreground-color);
  scrollbar-track-color: var(--scrollbar-background-color);
}
